nav {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  padding: 10px 30px;
  background-color: #C7ECF7; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  position: relative; 
  margin-bottom: 3%;
}

.name{
  color: #08657F;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

nav img.logo {
  max-width: 80px;   
  height: auto;      
  display: block;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
  color: #333; 
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #0077cc; 
}

.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block; 
  }
  .name{
    font-size: 20px;
  }

  nav{
    margin-bottom: 17%;

  }

  .nav-links {
    display: none; 
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    position: absolute;
    top: 60px; 
    left: 0;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .nav-links.active {
    display: flex;
  }
}
